*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body{
    display: grid;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    line-height: 1.6;
    margin: 0;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
    gap: 10px;
    padding: 20px;
}

.Header{
    display: flex;
    grid-area: header;
    padding:20px;
    justify-content: space-between;
    align-items: center;
}
.Header-Nav{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.NavUl{
    display: flex;
    list-style: none;
    align-items: center;
    color: black;
}
.NavUl-Link{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
}

.Main{
grid-area: main;
padding: 1rem;
}

.Main-P{
    padding: 10px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.GridImages{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}

.GridImages-Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.Button-Text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Footer{
    grid-area: footer;
    padding: 1rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    align-items: center;
    
}
.Footer-Nav{
    display: flex;
    list-style: none;
}
.Footer-li{
    padding: 10px;

}
